<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="WebGPU and WGSL: W3C standards for GPU acceleration on the Web. Find implementations, resources, community spaces, and more.">
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="WebGPU and WGSL: W3C standards for GPU acceleration on the Web. Find implementations, resources, community spaces, and more.">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://raw.githubusercontent.com/gpuweb/gpuweb/cd07d570226c8e4c82a1b616f967fe76f98920a3/logo/webgpu-responsive.svg">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
</head>
<body>
  {{ content }}
</body>
</html>
